#calculator {
  border: solid 1px black;
  width: 40%;
  height: 500px;
  margin: auto;
  position: relative;
}

#screen {
  border: solid 1px orange;
  height: 20%;
  width: 90%;
  margin: 1rem auto;
  text-align: right;
}
#output {
  font-size: 50px;
  margin-top: 1rem;
}

#calculator table {
  border: solid 1px black;
  margin: auto;
  width: 90%;
  text-align: center;
}
